* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Inside the body style */
header {
  background-color: #074603;
}

main {
  text-align: center;
}

/* Text style */
h1 {
  color: #ffffff;
}

h2 {
  color: #074603;
}

h3 {
  color: #ffffff;
  float: left;
}

form {
  border-style: inset;
}

/* Classes from HTML files */

.column {
  float: left;
}
.column.left {
  width: 25%;
  text-align: left;
}

.column.right {
  width: 25%;
  text-align: center;
}

.column.middle {
  text-align: center;
  width: 50%;
}

.topNav::after {
  content: "";
  display: table;
  clear: both;
}
