* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

/* --- top nav --- */
/* Top navigation container */
.top-nav {
  list-style: none;
  display: block;
}

.top-nav_wrapper {
  background: #063a08;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1em;
  grid-auto-flow: column;
}

/* Container for list menus */
.menu-bar_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar_wrapper * {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.menu-bar_wrapper *:hover {
  background-color: #0b5f05;
  color: #000000;
  height: inherit;
  display: flex;
  align-items: center;
  border-radius: 0px 24px;
}

#hamburger-top-menu {
  max-width: 2rem;
}

.hamburger-menu {
  display: block;
  visibility: hidden;
}

.hamburger-menu-button {
  background-color: transparent;
  border: none;
}

/* Style for each list menu */
.list-menu {
  display: flex;
  flex-flow: row nowrap;
}

.menu-header {
  color: #ffffff;
  font-size: 20px;
}

/* Container for icon buttons */
.icon-bar_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 3;
}

.icon-bar_wrapper img {
  height: 2rem;
}

/* Icon menu including caption */
.icon-bar_wrapper * {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.icon-caption {
  color: #ffffff;
  font-size: 16px;
  margin-top: 0.3rem;
}

/* Urban Infusion logo */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo a {
  display: flex;
  justify-content: center;
}

#logo-image {
  margin-left: 10%;
}

/* Actions in mobile view */
@media screen and (max-width: 1028px) {
  .menu-bar_wrapper * {
    display: none;
    visibility: hidden;
  }
  .menu-bar_wrapper {
    grid-column: none;
    width: 0;
  }
  .icon-bar_wrapper a:not(#cart-selection) {
    display: none;
    visibility: hidden;
  }
  #cart-selection .icon-caption {
    display: none;
  }
  .logo {
    grid-column: 2;
    justify-content: center;
  }
  .hamburger-menu {
    grid-column: 1;
  }
  .hamburger-menu * {
    visibility: visible;
    padding-left: 5%;
  }
}

#body-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* --- hero section --- */
/*Hero section*/
.hero-section {
  width: 99.8%;
  height: 40vw;
  background-image: url("../resources/img/hero-section-cropped.jpg");
  background-size: 100%;
  min-height: fit-content;
  max-height: 1500px;
  position: relative;
}

.hero-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 19%;
  margin-top: 27%;
  background-color: #063a08;
  border: 0;
  color: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 4px 16px;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #0b5f05;
  border: 1px solid #1d0f06;
}

/* --- our stores section --- */
/*Our store section*/
.our-stores-section {
  display: flex;
  margin-top: 3%;
  color: #1d0f06;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 13rem;
  width: 100%;
  position: relative;
  justify-content: center;
}
.our-stores-wrapper {
  display: flex;
  min-height: 100%;
  justify-content: center;
  flex-flow: row wrap;
}

/* Change the buttons so they match all other buttons */
.button {
  background-color: #ffffff;
  color: #1d0f06;
  padding: 0.5rem 0.5rem;
  border-radius: 4px 16px;
  font-size: 0.8rem;
  font-weight: 200;
  cursor: pointer;
  min-width: 1rem;
  width: 10rem;
  margin: 2%;
}
.buttons-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.text-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 1%;
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
}

.our-stores-text {
  font-size: 20px;
  line-height: 20px;
  margin-top: 2%;
}

/* --- best sellers section --- */
/* Best sellers section */
#best-sellers-header {
  color: #063a08;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  font-size: 40px;
}
/** Container for the whole best sellers section **/
.best-sellers {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  width: 100%;
}
/** Container for each product card in best seller section **/
#best-seller-product {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
/** Container for the best sellers box, not including header **/
#featured-cards {
  display: flex;
  flex: row wrap;
  justify-content: space-around;
  position: relative;
  max-width: 100%;
}

/** Container for the best sellers box, including header **/
#best-sellers-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
  padding: 5%;
}

/* Best sellers buy-button */
#card-shop-button {
  display: flex;
  color: #ffffff;
  background-color: #063a08;
  position: absolute;
  visibility: hidden;
  bottom: 50%;
  padding: 0.7rem;
  border-radius: 4px 16px;
}

#card-shop-button:hover {
  visibility: visible;
  background-color: #0b5f05;
  color: #ffffff;
  padding: 0.7rem;
}

#best-seller-product:hover .card-body {
  opacity: 0.5;
}

#best-seller-product:hover #card-shop-button {
  visibility: visible;
}

.card-title {
  font-size: 22px;
  color: #1d0f06;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.card-price {
  font-size: 16px;
  color: #1d0f06;
}

#best-seller-image {
  max-width: 100%;
}

/* --- testimonials section --- */
/*Testimonials*/
.container {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  justify-content: center;
  margin-top: 15%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}
.testcard {
  min-height: 100%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 5%;
}
.testcard-middle {
  min-height: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 5%;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-self: end;
  align-self: flex-end;
  width: 80%;
  margin-bottom: 5%;
}

.testcard-thumb {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  width: 70%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.testcard-thumb-middle {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  width: 70%;
  height: 250px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.client-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 5px 20px;
  background: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
}

.client-name-middle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 20px;
  background: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
}

.testcard-body {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin-left: 2%;
  position: relative;
  padding-bottom: 50px;
}

.review {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

/* --- footer | bottom nav --- */
/* The whole footer */
.bottomNav {
  display: flex;
  /* flex-direction: column;
  /* column-gap: normal; */
  background-color: #052b00;
  height: 23rem;
}

/* Column of "shop" */
.shop {
  flex-direction: column;
  margin-left: 7%;
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
}
.shop h4 {
  color: #ffffff;
}

.shop a:hover {
  color: #1d0f06;
}

.shop a {
  color: #ffffff;
  text-decoration: none;
}

/* Column of "about us" */
.aboutUs {
  flex-wrap: wrap;
  margin-left: 13%;
  margin-top: 20px;
  padding: auto;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
}
.aboutUs h4 {
  color: #ffffff;
}

.aboutUs a {
  color: #ffffff;
  text-decoration: none;
}

.aboutUs a:hover {
  color: #1d0f06;
}

/* Column of companies logo */
.bottomLogo {
  flex-flow: row nowrap;
  margin-top: 20px;
  align-items: center;
  margin-left: 13%;
  font-size: 2em;
}

.bottomLogo img {
  height: 50px;
  margin: 3%;
}
.bottomLogo h4 {
  color: #ffffff;
}
