* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
  }

/* --- top nav --- */
/* Top navigation container */
.top-nav {
    list-style: none;
    background-color: #063A08;
    display: flex;
    align-items: center;
    height: 5rem;
  }
  
  /* Container for list menus */
  .menu-bar {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-bar * {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  
  .menu-bar *:hover {
    background-color: #0b5f05;
    color: #000000;
    height: inherit;
    display: flex;
    align-items: center;
    border-radius: 0px 24px;
  }
  
  /* Style for each list menu */
  .list-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .menu-header {
    color: #ffffff;
    font-size: 20px;
  }
  
  /* Container for icon buttons */
  .icon-bar {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    align-items: center;
  }
  
  .icon-bar * {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  
  .icon-bar img {
    height: 1.5rem;
  }
  
  /* Icon menu including caption */
  .icon-selection {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .icon-caption {
    color: #ffffff;
    font-size: 13px;
    margin-top: 0.3rem;
  }
  
  /* Urban Infusion logo */
  .logo {
    height: inherit;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #body-container {
    display: grid;
    grid-template-columns: [filter-bar]0.7fr [body]3fr [white-space]0.3fr;
    grid-gap: 5%;
    grid-template-areas:
        "filter-bar body white-space"

  }

  #product-filter-bar {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    margin-top: 21%;
    min-height: 30%;
  }

  #tea-filter {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-bottom: 10%;
  }

  #merch-filter {
    list-style: none;
  }

  /** Container for each product card in catalog section **/
#catalog-product {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-right: 5%;
    padding-bottom: 5%;
  }
/** Container for the best sellers box, not including header **/
#featured-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    position: relative;
    max-width: 100%;
    
  }
  
/** Container for the best sellers box, including header **/
#catalog-box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: auto;
  grid-gap: 4rem;
  padding-top: 5%;
}












/* --- footer | bottom nav --- */
/* The whole footer */
.bottomNav {
    display: flex;
    /* flex-direction: column;
    /* column-gap: normal; */
    background-color: #052B00;
    height: 23rem;
  }
  
  /* Column of "shop" */
  .shop {
    flex-direction: column;
    margin-left: 7%;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
  }
  .shop h4{
    color: #ffffff;
  }
  
  .shop a:hover {
    color: #000000;
  }
  
  .shop a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Column of "about us" */
  .aboutUs {
    flex-wrap: wrap;
    margin-left: 13%;
    margin-top: 20px;
    padding: auto;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
  }
  .aboutUs h4{
    color: #ffffff;
  }
  
  .aboutUs a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .aboutUs a:hover {
    color: #000000;
  }
  
  /* Column of companies logo */
  .bottomLogo {
    flex-flow: row nowrap;
    margin-top: 20px;
    align-items: center;
    margin-left: 13%;
    font-size: 2em;
  }
  
  .bottomLogo img {
    height: 50px;
    margin: 3%;
  }
  .bottomLogo h4{
    color: #ffffff;
  }
