* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.left {
  width: 20%;
  background-color: #074603;
}

.column.middle {
  width: 80%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
